.img{
    height:70px;
   width: 130px;
}


  
 .NavbarLogo{
    height: 60px;
 }   
 .main_nav {
    z-index: 99;
    position: fixed;
    top: 0px;
    height: 70px;
    background-color: #1353ad5c;
  
 }
 .main_nav  li:hover{
background-color: #1e2aa9;
border-radius: 25px;
 }