.img{
    height:70px;
   width: 130px;
}  
 .NavbarLogo{
    height: 60px;
 }   
 .main_nav {
    z-index: 99;
    position: sticky;
    top: 0px;
    height: 70px;
    background-color: #092752;
  
 }
.collapse_nav{
       background-color: #092752;

}