 .hoverdiv{
    /* background-color: rgba(13, 26, 26, 0.372); */
   height: 248px;
    position: absolute;
    left: 0px;
    opacity: 0;
     transition: all .6s ease-in; 
    box-shadow: 1px 3px 5px black ;
    padding-top: 90%;
    
}


.hoverdiv:hover {
opacity: 1;
padding-top: 27%;
}
/* .blur img{
    transition: 1s ease;
    }
    .blur img:hover {
    -webkit-filter: blur(5px);
    transition: 1s ease;
    } */

.card-titlee{
     box-shadow: 1px 3px 5px rgb(91, 85, 85) ; 
    color: rgb(1, 1, 73);
    font-family: "Poppins", sans-serif;
  border: thin;
  font-weight: bold;
 
}
.courestitleeStyle{
    width: '50%';
}
.couresdescStyle{
    color: black;
    font-size: 20px;
    margin-top: 30px;
}
.personIcon{
    color: rgb(1, 1, 73);
    margin-right: 5px;
}