/* // import {Card,Button} from 'react-bootstrap'
// const CoursesCard=props =>{
//     let{imgSrc,price,title}=props.data
//     return(<>
//     <div>
//         <Card className='p-0 overflow-hidden h-100 shadow'>
// <div className='overflow-hidden rounded p-0 bg-light'>
// <Card.Img variant='top' src={imgSrc}/>
// </div>
// <Card.Body className='text-center'>
// <Card.Title className='display-6'>{price}</Card.Title>
// <Card.Title>{title}</Card.Title>
// </Card.Body>
//         </Card>
//     </div>
//     </>)
//     }
//     export default CoursesCard */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:wght@100&display=swap');
.homeCourseCardTitle{
    text-align: center;
    color: rgb(1, 1, 73) ;
     font-family: "Poppins", sans-serif; 
     font-weight: 200;
     font-size: 30px;
   
 } 
 .h1HomeCoursesStyle{
    color:  rgb(1, 1, 73);
    text-align: center;
    font-family: "Poppins", sans-serif;
}
.bgcolor{
    background-color: rgb(1, 1, 73) ;
    color: #FFF;
    }
    .bgcolor:hover{
        cursor: pointer;
        background-color:  #1eb2a6;
        color: #FFF;
    }