/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&family=Roboto:wght@100&display=swap');

.Homerow {
    padding-top: 3rem;
}

.Homecourse {
    overflow: hidden;
    width: 255px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #F0F2F3;
    box-shadow: 0 3px 24px rgb(0 0 0 / 4%);
    border-radius: 8px;
}

.homeCourse-thumb {
    width: 100%;
    height: auto;
}

.homeCourseTitle h6 {
    margin-bottom: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: rgb(1, 1, 73);
}

.details {
    margin: 15px 0;
}

.details span {
    color: rgb(87, 87, 93);
    font-weight: 700;
    font-family: "Poppins", sans-serif;

}

.homeStar i {
    margin-right: 5px;
    font-size: 12px;
    color: aqua;
}

.homefooter {
    margin-top: 20px;
}

.Homebtn {
    display: flex;
    flex-direction: column;

}

.Homebtn-Custom {
    cursor: pointer;
    text-align: center;
    background-color: rgb(1, 1, 73);
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    padding: 12px 30px;
    transition: 0.3s;
    text-transform: uppercase;
}

.Homebtn .homePrimary {
    color: #fff;
}

.Homebtn .homePrimary:hover {
    background-color: #1eb2a6;
}

.Homebtn .homePrimary2 {
    background-color: rgb(1, 1, 73);
    color: #fff;
}

.Homebtn .homePrimary2:hover {
    background-color: #1eb2a6;
}
.homeCourseHeader{
    color: rgb(1, 1, 73) ;
    text-align: center;
    margin-top: 5%;
    font-family: "Poppins", sans-serif;
}
@media screen and(max-width:669px) {
    .Homecourse {
        width: 355px;
    }

    .Homebtn-Custom {
        padding: 20px 30px;
    }
}

@media screen and(max-width:350px) {
    .Homecourse {
        width: 355px;
    }

    .Homebtn-Custom {
        padding: 10px 30px;
    }
} */




/* .carousel-inner {
    padding: 1em;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 33.333333%;
      /* display: block; */

    /* }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 13em;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .card img {
      max-height: 100%;
  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }  */




  .cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }